/**
 * Site header
 */
.site-header {
  background-color: $background-text;
  border-top: 2px solid $grey-color-dark;
  border-bottom: 1px solid $grey-color-light;
  min-height: $spacing-unit * 1.865;

  // Positioning context for the mobile navigation icon
  position: relative;
}

.site-header-wrapper {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.site-title {
  &,
  &:visited {
    color: $grey-color-dark;
  }
}

.site-logo {
  margin: 5px 0;
  height: $spacing-unit * 2;
}

.site-nav {
  line-height: $spacing-unit * 2 + 10px;
  align-self: flex-end;
  display: flex;

  .page-link {
    font-family: $h-font-family;
    line-height: $spacing-unit * 2 + 10px;
    display: inline-block;
    padding: 0 15px;
    position: relative;

    &:hover {
      background-color: darken($background-text, 1%);
      color: lighten($text-color, 2%);
      text-decoration: none;
    }

    &.active {
      background: $link-color;
      color: darken($background-text, 1%);
      &::after {
        $w: $spacing-unit;
        $h: $spacing-unit / 1.5;
        content: "";
        display: block;
        position: absolute;
        width: $w;
        height: $h;
        left: calc(50% - #{$w / 2});
        bottom: -5px;
        border: #{$w / 2} solid transparent;
        box-sizing: border-box;
        border-bottom-color: $background-text;
      }
    }
  }
}


/**
 * Page content
 */
.page-content {
  padding: $spacing-unit 0;
  min-height: calc(100vh - 73px - 209px);
  box-sizing: border-box;
}

.content-wrapper {
  background: $background-text;
  padding: $spacing-unit 0;
  @extend .wrapper;
}

.wrapper {
  max-width: $content-width;
  margin-right: auto;
  margin-left: auto;
  @extend %clearfix;

  @include media-query($on-laptop) {
    max-width: calc(#{$content-width} - (#{$spacing-unit}));
    padding-right: $spacing-unit / 2;
    padding-left: $spacing-unit / 2;
  }
}

.page-heading {
  @include relative-font-size(1.25);
}

.post-list {
  margin-left: 0;
  list-style: none;

  > li {
    margin-bottom: $spacing-unit;
  }

  .post-content {
    .post-meta {
      display: none;
    }
  }

  .post-image {
    display: none;
  }
}

.pagination {
  display: block;
  text-align: center;

  .pagination-link {
    display: inline-block;

    a {
      padding: 5px 10px;
      text-decoration: none;
      box-sizing: border-box;
      border: 1px solid transparent;
    }

    a,
    a:visited {
      color: $link-color;
    }

    a:hover {
      border: 1px solid $link-color;
    }

    &.inactive {
      opacity: 0.3;
      pointer-events: none;

      a {
        color: $grey-color;
      }
    }

    &.selected {
      a {
        background: $link-color;
        color: $background-text;
      }
    }
  }
}

@supports (display: grid) {

  @media screen and (min-width: $on-laptop) {

    .post-list {

      .post-item {
        display: grid;
        grid-template-columns: 1fr 3fr;
        grid-gap: 0 $spacing-unit;
      }

      .post-link {
        grid-column: 1 / span 2;
        grid-row: 1 / span 1;
      }

      .post-image {
        display: block;
        grid-column: 1 / span 1;
        grid-row: 3 / span 1;
        margin-top: 5px;
        margin-bottom: 30px;
      }

      .post-meta {
        grid-column: 1 / span 2;
        grid-row: 2 / span 1;
      }

      .post-content {
        grid-column: 2 / span 1;
        grid-row: 3 / span 999;

        .block-full-width,
        .text-center {
          display: none !important;
        }
      }

      .post-read-link {
        text-align: left;
      }

      hr {
        grid-column: 1 / span 2;
        margin-bottom: 0;
      }
    }
  }
}

.post-meta {
  font-size: $small-font-size;
  color: $grey-color;

  .post-tag {
    display: inline-block;
    padding: 0 3px;
    background-color: $link-color;
    color: white;
    border-radius: 3px;
  }
}

.post-link {
  display: block;
  @include relative-font-size(1.5);
}



/**
 * Posts
 */
.post-header {
  margin-bottom: $spacing-unit / 2;
  border-bottom: 1px solid $grey-color-light;
}

.post-title {
  @include relative-font-size(1.75);
  font-weight: bold;
  line-height: 1;

  @include media-query($on-laptop) {
    @include relative-font-size(1.5);
  }
}

.post-read-link {
  text-align: center;
}

@supports (display: grid) {
  .post-content {

  }
}

.post-content {
  margin-bottom: $spacing-unit;
  counter-reset: point-number;

  a {
    background-color: $light-color;
  }

  .point-number {
    &::before {
      content: counter(point-number) ".";
      counter-increment: point-number;
      color: $mid-color;
    }
  }
  .point-number-reset {
    counter-reset: point-number;
  }

  .text-center {
    text-align: center;
  }

  .header-link {
    position: absolute;
    left: -0.7em;
    background: none;
    opacity: 0.2;
    transition: opacity 0.3s ease;
  }

  h2, h3, h4 {
    &:hover .header-link {
      opacity: 1;
    }
  }

  // https://css-tricks.com/full-width-containers-limited-width-parents/
  .block-full-width {
    text-align: center;
    background-color: $text-color;
    width: 100vw;
    position: relative;
    left: 50%;
    right: 50%;
    margin-left: -50vw;
    margin-right: -50vw;

    &.free-image {
      img,
      iframe {
        max-width: $content-width;
        width: auto;
      }
    }

    &.with-iframe {
      display: flex;
      justify-content: center;
    }

    img,
    iframe {
      width: $content-width;

      @include media-query($on-laptop) {
        max-width: 100%;
      }
    }
  }
}

.post-next-prev {
  display: flex;
  width: 100%;
  justify-content: space-between;
  flex-wrap: wrap;
  border-bottom: 1px solid $mid-color;
  border-top: 1px solid $mid-color;
  padding: 5px 0;
  margin-bottom: 30px;

  .post-next,
  .post-prev {
    flex: 1 1 300px;
  }

  .post-prev {
    text-align: left;
  }

  .post-next {
    text-align: right;
  }

  @include media-query($on-palm) {
    .post-next,
    .post-prev {
      flex: 1 0 100%;
      display: block;
    }
  }
}


/**
 * Site footer
 */
.site-footer {
  border-top: 1px solid $grey-color-light;
  padding: $spacing-unit 0;
  background: $text-color;
  color: $background-text;

  a,
  a:visited {
    color: $link-color;
  }
}

.footer-heading {
  @include relative-font-size(1.125);
  margin-bottom: $spacing-unit / 2;

  .rss-link {
    vertical-align: text-bottom;

    &:hover {
      svg path {
        fill: $link-color;
      }
    }
  }
}

.contact-list,
.social-media-list {
  list-style: none;
  margin-left: 0;

  li + li {
    padding-top: 5px;
  }
}

.footer-col-wrapper {
  @include relative-font-size(0.9375);
  color: lighten($grey-color, 20%);
  margin-left: -$spacing-unit / 2;
  @extend %clearfix;

  li {
    color: lighten($grey-color, 20%);
  }
}

.footer-col {
  float: left;
  margin-bottom: $spacing-unit / 2;
  padding-left: $spacing-unit / 2;
}

.footer-col-1 {
  width: calc(35% - (#{$spacing-unit} / 2));
}

.footer-col-2 {
  width: calc(45% - (#{$spacing-unit} / 2));
}

.footer-col-3 {
  width: calc(20% - (#{$spacing-unit} / 2));
}

@include media-query($on-laptop) {
  .footer-col-1,
  .footer-col-3 {
    width: calc(50% - (#{$spacing-unit} / 2));
  }

  .footer-col-2 {
    width: calc(100% - (#{$spacing-unit} / 2));
  }
}

@include media-query($on-palm) {
  .footer-col {
    float: none;
    width: calc(100% - (#{$spacing-unit} / 2));
  }
}
