---
layout: default
comments: true
---
<article class="post" itemscope itemtype="http://schema.org/BlogPosting">

  <header class="post-header">
    {% include post-header.html postData=page %}
    {% include post-meta.html postData=page %}
  </header>

  <div class="post-content" itemprop="articleBody">
    {{ content }}
  </div>

  <div class="post-next-prev">
    {% if page.previous.url %}
      <a class="post-prev" href="{{page.previous.url}}">← {{page.previous.title}}</a>
    {% else %}
      <a class="post-prev" href="javascript:void(0)">&nbsp;</a>
    {% endif %}
    {% if page.next.url %}
      <a class="post-next" href="{{page.next.url}}">{{page.next.title}} →</a>
    {% else %}
      <a class="post-next" href="javascript:void(0)">&nbsp;</a>
    {% endif %}
  </div>

  {% if site.disqus.shortname %}
    {% include disqus_comments.html %}
  {% endif %}
</article>
